<h1>Lists of Movies</h1>
<p><%= link_to 'My Lists', root_path %></p>
<p><%= link_to 'New List', new_list_path %></p>
<ul>
  <% @lists.each do |list| %>
    <li><%= list.name %></li>
  <% end %>
</ul>
