<div class="navbar">
  <div class="logo">
    <%= image_tag "logo.png", alt: "Le Wagon Logo", width: 30 %>
  </div>
  <p><%= link_to 'New List', new_list_path %></p>
</div>
<div class="hero">
  <p>Save any kind of movies <br> Classic</p>
</div>
